body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(39, 39, 39);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas{
    margin-left: auto;
    margin-right: auto;
    /* border: 3px grey solid; */
    background-color: transparent;
    border-radius: 100%;
}

h1, h2 {
    color: white;
    text-align: center;
}