body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: white;
    text-align: center;
}
.card_dark {
    width: calc(444px*0.65);
    height: calc(767px*0.65);
    border-radius: 8px;
}
.card_dark:hover{
    box-shadow: 0 0 15px 10px rgba(255,255,255,0.05);
}
.card_dark{
    background-image: url(./img/dark.png);
    background-size: cover;
    transition: box-shadow .5s, transform .2s;
}
